In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('patient_data.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         1256 non-null   object
 1   Name               1256 non-null   object
 2   Date_of_Birth      1256 non-null   datetime64[ns]
 3   Disease            1256 non-null   object
 4   Height_cm          1256 non-null   float64
 5   Weight_kg          1256 non-null   float64
 6   Per_Day_Room_Cost  1256 non-null   int64
 7   No_of_Days         1256 non-null   int64
 8   Suite_Type         1256 non-null   object
 9   Admission_Date     1256 non-null   object
 10  Discharge_Date     1256 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 108.1+ KB

In [8]:
df['Date_of_Birth']=pd.DatetimeIndex(df['Date_of_Birth'])

In [13]:
df['Age'] = df['Date_of_Birth'].apply(lambda dob: pd.Timestamp.today().year - dob.year)

In [16]:
df['BMI'] = df['Weight_kg']/(df['Height_cm']/100)**2

In [17]:
df['BMI']

0       27.403548
1       33.409865
2       18.867980
3       22.713264
4       13.661001
          ...
1251    53.517402
1252    35.381458
1253    12.951334
1254    16.372161
1255    31.015045
Name: BMI, Length: 1256, dtype: float64

In [18]:
df['Total Cost'] = df['Per_Day_Room_Cost']*df['No_of_Days']

In [19]:
df['Total Cost']

0        24835
1        27464
2        64050
3       124020
4        76608
         ...
1251     18945
1252      8692
1253     60711
1254     33792
1255     19504
Name: Total Cost, Length: 1256, dtype: int64

In [20]:
df['BMI']

0       27.403548
1       33.409865
2       18.867980
3       22.713264
4       13.661001
          ...
1251    53.517402
1252    35.381458
1253    12.951334
1254    16.372161
1255    31.015045
Name: BMI, Length: 1256, dtype: float64

In [22]:
df['BMI_Category'] = pd.cut(df['BMI'], bins=[0,18.5,25,30,float('inf')], labels=['Under Wt','Normal Wt','Over Wt','Obsese'], right=False)

In [23]:
df['BMI_Category']

0         Over Wt
1          Obsese
2       Normal Wt
3       Normal Wt
4        Under Wt
          ...
1251       Obsese
1252       Obsese
1253     Under Wt
1254     Under Wt
1255       Obsese
Name: BMI_Category, Length: 1256, dtype: category
Categories (4, object): ['Under Wt' < 'Normal Wt' < 'Over Wt' < 'Obsese']